ShaderDemo/Library/
*.meta
ShaderDemo/.vs/
ShaderDemo/Temp/ProcessJobs/47de52777078f98a5e7a9f91688b9f90.bakert
ShaderDemo/Temp/Compiled-Custom-NewSurfaceShader.shader
ShaderDemo/Temp/UnityLockfile
ShaderDemo/Temp/UnityTempFile-12f61bd72cfe8d44ca7a0a3cabd9291d
ShaderDemo/Temp/UnityTempFile-8e224c96db900624c82f39b4f052c373
ShaderDemo/Temp/UnityTempFile-e4b26add35db05f41bbeaec3341657b7
ShaderDemo/Temp/UnityTempFile-f8ecd59d27df992408025a635cfa3578
